#root {
  margin: 0;
  text-align: center;
  width: 100%;
}

.card {
  padding: 2em;
}

ul {
  list-style: none;
}

.section {
  padding-top: 20px;
}

.main-content {
  padding: 0 5rem 5rem 5rem;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.hero-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px;
}

.hero-text {
  text-align: left;
}